<footer class="footer">
    <div class="container footer-container">
        <div class="row">
            <div class="col-lg-4 responsive-column-1">
                <p class="footer-Heading">Yash<span>.Blog</span></p>
                <p class="footer-content">Designed by Yash Maniar</p>
                <div>
                    <img class="footer-images" src="../../assets/images/Medium Monogram.png" alt="Monogram">
                    <img class="footer-images" src="../../assets/images/twitter.png" alt="Twitter">
                    <img class="footer-images" src="../../assets/images/instagram.png" alt="Instagram">
                    <img class="footer-images" src="../../assets/images/linkedin.png" alt="LinkedIn">
                </div>
                <p class="userCount"><strong>Active Subscribers</strong> : {{this.userCount}}</p>
            </div>
            <div class="col-lg-8">
                <div class="footer-columns responsive-column-2">
                    <div class="footer-subcolumn">
                        <p class="footer-subheading">BROWSE BY CATEGORY</p>
                        <ng-container *ngFor="let data of category?.data">

                            <a *ngIf="data?.attributes?.category_title === 'CSS'" class="footer-content"
                                [routerLink]="['/bloglist',data?.attributes?.category_title]">CSS</a>
                            <a *ngIf="data?.attributes?.category_title === 'Tailwind'" class="footer-content"
                                [routerLink]="['/bloglist',data?.attributes?.category_title]">Tailwind</a>
                            <a *ngIf="data?.attributes?.category_title === 'Java'" class="footer-content"
                                [routerLink]="['/bloglist',data?.attributes?.category_title]">Java</a>
                            <a *ngIf="data?.attributes?.category_title === 'Angular'" class="footer-content"
                                [routerLink]="['/bloglist',data?.attributes?.category_title]">Angular</a>
                        </ng-container>
                    </div>

                    <div class="footer-subcolumn">
                        <p class="footer-subheading">ABOUT ME</p>
                        <p class="footer-content">About Me</p>
                        <p class="footer-content">Projects</p>
                        <p class="footer-content">Achievement</p>
                    </div>

                    <div class="footer-subcolumn">
                        <p class="footer-subheading">GET IN TOUCH</p>
                        <p class="footer-content">+91-799-XXX-XXXX</p>
                        <p class="footer-content">yash@gmail.com</p>
                    </div>

                    <div class="footer-subcolumn">
                        <p class="footer-subheading">FOLLOW US</p>
                        <a href="javascript:void(0);" class="footer-links">Medium</a>
                        <a href="javascript:void(0);" class="footer-links">Instagram</a>
                        <a href="javascript:void(0);" class="footer-links">Twitter</a>
                        <a href="javascript:void(0);" class="footer-links">Facebook</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6 subfooter">
                <p><i class="fa-regular fa-copyright"></i>2023 Yash Blog.</p>
            </div>
            <div class="col-lg-6 subfooter footer-love">
                <p> All Rights Reserved.</p>
            </div>
        </div>
        <button class="scroll-top" (click)="onClick()">
            <img src="../../assets/images/scroll-button.png" alt="top">
        </button>
    </div>
</footer>