@import "../../assets/custom-colors.scss";

.addBlogHeading{
    color: $blue;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid $black;
}

.addBlogform{
    width: 25%;
}

.addBlogSubmit{
    background-color: $orange;
    color: $white;
    font-weight: 700;

    &:hover{
        background-color: $blue;
    }
}