@import "../../assets/custom-colors.scss";


.blog-detail-wrap {
    margin: 50px auto;
}

.image_column {
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
        width: 410px;
    }

    .category_list {
        display: inline-block;
        margin: 10px 5px;
        background: #ea6446;
        color: white;
        padding: 5px;
        border-radius: 8px;
        font-weight: 700;
    }
}

.blog_category {
    font-weight: 800;
    color: $orange;
}

.blog_title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
}

.blog_summary {
    font-weight: 500;
    font-size: 20px;
}

.blog_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}