@import "../../assets/custom-colors.scss" ;



.login-form {
    display: flex;
    flex-direction: column;
    width: 17%;
    margin: 200px auto;
    padding: 50px 20px;
    box-shadow: 0px 0px 5px 1px #cccccc;
    border-radius: 15px;
    background-color: $white;
}

.login-details {
    border-radius: 8px;
    padding: 8px 16px;
    border: 1px solid rgb(206, 212, 218);
    font-size: 21px;
    font-weight: 400;
}

.login-submit {
    background-color: $blue;
    color: $white;
    border-radius: 15px;
    padding: 10px;
    margin: 20px 10px 1px 10px;
    border: none;
    transition: all 0.1s linear 0.1s;

    &:hover{
        background-color: $orange;
    }
}

.register{
    background-color: $orange;
    color: $white;
    border-radius: 15px;
    padding: 10px;
    margin: 20px 10px 5px 10px;
    border: none;
    transition: all 0.1s linear 0.1s;

    &:hover{
        background-color: $blue;
    }
}

.logout{
    background-color: $blue;
    color: $white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin: 40px auto;
    border: none;
    display: flex;
    width: 10%;
    justify-content: center;
}

$breakpoint-tablet: 1199px;

@media (max-width: $breakpoint-tablet) {

    .login-form{
        align-items: center;
        min-width: 250px;
    }
    .login-details{
        min-width: 179px;
    }
    p{
        min-width: 140px;
    }
    .login-submit{
        min-width: 165px;
    }
}

