<section class="blog-login-wrap">
    <form *ngIf="!isLoggedInFlag" class="login-form" [formGroup]="form">
      <input type="text" id="username" placeholder="username" class="login-details" formControlName="username"><br>
      <show-hide-password size="lg" btnstyle="primary" [btnOutline]="false">
        <input type="password"  placeholder="password" formControlName="password">
      </show-hide-password>
      <span class="disclaimer">Fill Out the form to enable the button</span>
      <button type="submit" class="login-submit" [disabled]="!form.valid" (click)="onSubmit()">Login</button>

      <a type="submit" class="register" routerLink="/register">New User?</a>
    </form>
  </section>