<div>
    <form class="container editcatgform" [formGroup]="editcatgform">
        <h2 class="editcatgHeading mb-3">Edit your Category</h2>
    
        <div class="mt-3 mb-3">
            <label for="addBlogTitle" class="form-label">Id</label>
            <input type="text" class="form-control" id="editCatgId" placeholder="Id" name="id"
                formControlName="id">
        </div>
    
        <div class="mb-3">
            <label for="addBlogTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="editCatgTitle" placeholder="title" name="category_title"
                formControlName="category_title">
        </div>
        <div class="text-center">
            <input class="form-control" type="file" (change)="onChange($event)" />
            <br />
            <!-- <button (click)="onUpload()" class="btn btn-success">Upload</button> -->
        </div>

        <div class="mb-3">
            <button class="btn editcatgSubmit" type="submit" (click)="editCatgDetails(this.editcatgform.value.id)">Submit</button>
        </div>
    
    </form>
    </div>