<div class="container">
    <div class="row category-section">
        <button class="category-button" *ngFor="let data of mydata" [routerLink]="['/bloglist',data.attributes?.category_title]">
            <div>
                <div class="col-lg-2 category-card"
                    *ngFor="let img of data.attributes?.category_image?.data">
                    <div>
                        <img class="img" [src]="this.apiUrl + img.attributes.url" [alt]="img.attributes.name">
                    </div>
                    <p class="category-card-content">{{data.attributes?.category_title}}</p>
                </div>
            </div>
    
        </button>
    </div>
    </div>