<section class="blog-register-wrap">
    <form class="login-form" [formGroup]="form">
        <input type="text" id="username" placeholder="Username" class="login-details" formControlName="username"><br>
        <input type="email" id="email" placeholder="Email" class="login-details" formControlName="email"><br>
        <input type="password" id="password" placeholder="Password" class="login-details" formControlName="password"><br>
        <button type="submit" class="login-submit" (click)="onSubmit()">Register</button>
    </form>
</section>